@import url(https://themes.googleusercontent.com/fonts/css?kit=HhZ1Yy-xX9V_QYmp2M6Bh3xeJ7ui1irlIcm-wBbek7s);
.lst-kix_nscxlmdkpbk3-3 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-3;
}
ol.lst-kix_l5vdt3c579wk-7.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-7 0;
}
.lst-kix_l5vdt3c579wk-5 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-5;
}
ul.lst-kix_exd5sfrnflh-6 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-4 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-7 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-3 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-8 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-2 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-1 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-2 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-0 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-3 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-4 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-0 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-5 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-0 {
  list-style-type: none;
}
ul.lst-kix_exd5sfrnflh-1 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-8 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-7 {
  list-style-type: none;
}
ul.lst-kix_fmxxw8siwgz0-6 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-5.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-5 0;
}
ul.lst-kix_fmxxw8siwgz0-5 {
  list-style-type: none;
}
.lst-kix_cznfflbywnwz-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_cznfflbywnwz-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_cznfflbywnwz-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_cznfflbywnwz-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_cznfflbywnwz-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_l5vdt3c579wk-3 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-3;
}
.lst-kix_cznfflbywnwz-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_cznfflbywnwz-3 {
  list-style-type: none;
}
.lst-kix_l5vdt3c579wk-1 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-1;
}
ul.lst-kix_cznfflbywnwz-4 {
  list-style-type: none;
}
.lst-kix_cznfflbywnwz-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_cznfflbywnwz-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_cznfflbywnwz-5 {
  list-style-type: none;
}
ul.lst-kix_cznfflbywnwz-6 {
  list-style-type: none;
}
.lst-kix_cznfflbywnwz-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_cznfflbywnwz-7 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-1 {
  list-style-type: none;
}
ul.lst-kix_cznfflbywnwz-8 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-2 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-0 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-5 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-6 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-3 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-4 {
  list-style-type: none;
}
.lst-kix_l5vdt3c579wk-7 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-7;
}
ul.lst-kix_cznfflbywnwz-0 {
  list-style-type: none;
}
ul.lst-kix_cznfflbywnwz-1 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-7 {
  list-style-type: none;
}
ul.lst-kix_cznfflbywnwz-2 {
  list-style-type: none;
}
ol.lst-kix_nscxlmdkpbk3-8 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-0 {
  list-style-type: none;
}
.lst-kix_nscxlmdkpbk3-7 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-7;
}
ol.lst-kix_l5vdt3c579wk-6 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-2 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-5 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-1 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-8 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-4 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-7 {
  list-style-type: none;
}
.lst-kix_nscxlmdkpbk3-1 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-1;
}
ul.lst-kix_w4inz1spbjtv-3 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-2 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-6 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-1 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-5 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-4 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-8 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-3 {
  list-style-type: none;
}
ul.lst-kix_w4inz1spbjtv-7 {
  list-style-type: none;
}
.lst-kix_sng2w6vqiqx7-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sng2w6vqiqx7-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_nscxlmdkpbk3-0.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-0 0;
}
.lst-kix_sng2w6vqiqx7-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sng2w6vqiqx7-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_sng2w6vqiqx7-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_sng2w6vqiqx7-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_sng2w6vqiqx7-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_sng2w6vqiqx7-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_nscxlmdkpbk3-6.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-6 0;
}
.lst-kix_w4inz1spbjtv-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_l5vdt3c579wk-0 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-0, decimal) ". ";
}
.lst-kix_w4inz1spbjtv-6 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_nscxlmdkpbk3-3.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-3 0;
}
ol.lst-kix_l5vdt3c579wk-3.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-3 0;
}
.lst-kix_l5vdt3c579wk-8 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-8, lower-roman) ". ";
}
.lst-kix_l5vdt3c579wk-6 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-6, decimal) ". ";
}
.lst-kix_q3tdhve2muv0-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_q3tdhve2muv0-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_l5vdt3c579wk-0.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-0 0;
}
.lst-kix_l5vdt3c579wk-2 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-2, lower-roman) ". ";
}
.lst-kix_l5vdt3c579wk-4 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-4, lower-latin) ". ";
}
.lst-kix_l5vdt3c579wk-0 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-0;
}
ol.lst-kix_l5vdt3c579wk-2.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-2 0;
}
.lst-kix_ofjkoclxh6i0-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_exd5sfrnflh-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_zcdggp9gdy4a-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_w4inz1spbjtv-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_nscxlmdkpbk3-5 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-5;
}
.lst-kix_w4inz1spbjtv-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_exd5sfrnflh-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_zcdggp9gdy4a-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_w4inz1spbjtv-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ofjkoclxh6i0-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_zcdggp9gdy4a-5 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_l5vdt3c579wk-1.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-1 0;
}
.lst-kix_exd5sfrnflh-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ofjkoclxh6i0-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_exd5sfrnflh-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_nscxlmdkpbk3-4.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-4 0;
}
.lst-kix_zcdggp9gdy4a-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_exd5sfrnflh-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_fmxxw8siwgz0-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_fmxxw8siwgz0-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_fmxxw8siwgz0-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_l5vdt3c579wk-4 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-4;
}
.lst-kix_fmxxw8siwgz0-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_fmxxw8siwgz0-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_nscxlmdkpbk3-7 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-7, lower-latin) ". ";
}
.lst-kix_nscxlmdkpbk3-8 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-8, lower-roman) ". ";
}
.lst-kix_fmxxw8siwgz0-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_fmxxw8siwgz0-3 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_l5vdt3c579wk-4.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-4 0;
}
.lst-kix_nscxlmdkpbk3-4 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-4;
}
.lst-kix_fmxxw8siwgz0-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_fmxxw8siwgz0-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ofjkoclxh6i0-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ofjkoclxh6i0-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ofjkoclxh6i0-8 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_nscxlmdkpbk3-2.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-2 0;
}
.lst-kix_l5vdt3c579wk-6 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-6;
}
.lst-kix_nscxlmdkpbk3-6 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-6;
}
ol.lst-kix_nscxlmdkpbk3-1.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-1 0;
}
ol.lst-kix_nscxlmdkpbk3-8.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-8 0;
}
ul.lst-kix_ofjkoclxh6i0-8 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-7 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-6 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-5 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-4 {
  list-style-type: none;
}
.lst-kix_nscxlmdkpbk3-0 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-0;
}
ul.lst-kix_ofjkoclxh6i0-3 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-2 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-1 {
  list-style-type: none;
}
ul.lst-kix_ofjkoclxh6i0-0 {
  list-style-type: none;
}
.lst-kix_q3tdhve2muv0-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_q3tdhve2muv0-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_q3tdhve2muv0-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_nscxlmdkpbk3-0 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-0, decimal) ". ";
}
ul.lst-kix_zcdggp9gdy4a-8 {
  list-style-type: none;
}
ul.lst-kix_zcdggp9gdy4a-7 {
  list-style-type: none;
}
ul.lst-kix_zcdggp9gdy4a-6 {
  list-style-type: none;
}
ul.lst-kix_zcdggp9gdy4a-5 {
  list-style-type: none;
}
ul.lst-kix_zcdggp9gdy4a-4 {
  list-style-type: none;
}
ul.lst-kix_zcdggp9gdy4a-3 {
  list-style-type: none;
}
ul.lst-kix_zcdggp9gdy4a-2 {
  list-style-type: none;
}
.lst-kix_nscxlmdkpbk3-4 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-4, lower-latin) ". ";
}
ul.lst-kix_zcdggp9gdy4a-1 {
  list-style-type: none;
}
ol.lst-kix_l5vdt3c579wk-5.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-5 0;
}
ul.lst-kix_zcdggp9gdy4a-0 {
  list-style-type: none;
}
.lst-kix_q3tdhve2muv0-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_nscxlmdkpbk3-5 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-5, lower-roman) ". ";
}
.lst-kix_nscxlmdkpbk3-6 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-6, decimal) ". ";
}
.lst-kix_nscxlmdkpbk3-3 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-3, decimal) ". ";
}
.lst-kix_nscxlmdkpbk3-1 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-1, lower-latin) ". ";
}
.lst-kix_nscxlmdkpbk3-2 > li:before {
  content: "" counter(lst-ctn-kix_nscxlmdkpbk3-2, lower-roman) ". ";
}
ol.lst-kix_nscxlmdkpbk3-7.start {
  counter-reset: lst-ctn-kix_nscxlmdkpbk3-7 0;
}
.lst-kix_sng2w6vqiqx7-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_w4inz1spbjtv-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_l5vdt3c579wk-7 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-7, lower-latin) ". ";
}
ul.lst-kix_q3tdhve2muv0-0 {
  list-style-type: none;
}
ul.lst-kix_q3tdhve2muv0-1 {
  list-style-type: none;
}
.lst-kix_q3tdhve2muv0-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_q3tdhve2muv0-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_q3tdhve2muv0-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_l5vdt3c579wk-1 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-1, lower-latin) ". ";
}
ol.lst-kix_l5vdt3c579wk-6.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-6 0;
}
ul.lst-kix_q3tdhve2muv0-6 {
  list-style-type: none;
}
.lst-kix_l5vdt3c579wk-3 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-3, decimal) ". ";
}
ul.lst-kix_q3tdhve2muv0-7 {
  list-style-type: none;
}
ul.lst-kix_q3tdhve2muv0-8 {
  list-style-type: none;
}
ul.lst-kix_q3tdhve2muv0-2 {
  list-style-type: none;
}
.lst-kix_l5vdt3c579wk-5 > li:before {
  content: "" counter(lst-ctn-kix_l5vdt3c579wk-5, lower-roman) ". ";
}
ul.lst-kix_q3tdhve2muv0-3 {
  list-style-type: none;
}
ul.lst-kix_q3tdhve2muv0-4 {
  list-style-type: none;
}
ul.lst-kix_q3tdhve2muv0-5 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-7 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-6 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-8 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-3 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-2 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-5 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-4 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-1 {
  list-style-type: none;
}
ul.lst-kix_sng2w6vqiqx7-0 {
  list-style-type: none;
}
.lst-kix_ofjkoclxh6i0-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_exd5sfrnflh-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ofjkoclxh6i0-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_l5vdt3c579wk-8 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-8;
}
.lst-kix_nscxlmdkpbk3-2 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-2;
}
.lst-kix_zcdggp9gdy4a-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_zcdggp9gdy4a-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_w4inz1spbjtv-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_l5vdt3c579wk-2 > li {
  counter-increment: lst-ctn-kix_l5vdt3c579wk-2;
}
.lst-kix_zcdggp9gdy4a-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_w4inz1spbjtv-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_w4inz1spbjtv-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_exd5sfrnflh-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ofjkoclxh6i0-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_nscxlmdkpbk3-8 > li {
  counter-increment: lst-ctn-kix_nscxlmdkpbk3-8;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_zcdggp9gdy4a-0 > li:before {
  content: "\0027a2   ";
}
.lst-kix_exd5sfrnflh-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_exd5sfrnflh-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_zcdggp9gdy4a-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_l5vdt3c579wk-8.start {
  counter-reset: lst-ctn-kix_l5vdt3c579wk-8 0;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c4 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 11pt;
}
.c6 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c18 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 20pt;
  font-style: normal;
}
.c15 {
  padding-top: 16pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c17 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c10 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 16pt;
  font-style: normal;
}
.c5 {
  padding-top: 18pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.c14 {
  color: #434343;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-style: normal;
}
.c3 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: normal;
}
.c16 {
  background-color: #ffffff;
  max-width: 467.8pt;
  padding: 31.5pt 64.5pt 50.2pt 63pt;
}
.c12 {
  padding: 0;
  margin: 0;
}
.c1 {
  font-weight: 700;
  font-family: "Zilla Slab";
}
.c0 {
  font-weight: 400;
  font-family: "Courier New";
}
.c11 {
  font-weight: 400;
  font-family: "Arial";
}
.c13 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c7 {
  font-weight: 400;
  font-family: "Zilla Slab";
}
.c8 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}